.app {
  position: relative;
  height: calc(100vh - 100px);
  /* overflow: auto; */
}
 
.brandLogo {
  display: inline-flex;
  margin-left: 3%;
}

.dropdown {
  position: absolute;
  margin-top: 2%;
  padding-left: 25px;
  font-size: large;
  width: 20%;
  height: fit-content;
  cursor: pointer;
}

.dropdown > .dropdownContent {
  padding: 10px;
  border-bottom: 0.2pt solid #E5C3A6;
}

.dropdownContent:hover, .clear-input-button:hover {
  transform: scale(1.2, 1.2);
  font-size: larger;
}

.containerOfInput {
  display: inline-flex;
  margin-left: 38%;
}

.OutlinedInput::placeholder{
   font-size: large;
}
.OutlinedInput{
  background-color: transparent;
  border: none;
  outline: none;
  font-size: xx-large;
  font-weight: bold;
  color: #2E4374;
  border-bottom: 3px solid #2E4374;
}

[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.clear-input-button {
  background-color: transparent;
  display: none;
  font-weight: bolder;
  border: none;
  outline: none;
  size: 100%;
  color: #2E4374;
}

/* @media screen and (min-width: 48px) {
  body {
    background-color: lightgreen;
  }
} */



