.app {
  position: relative;
  height: calc(100vh - 100px);
  /* overflow: auto; */
}
 
h2{
  display: inline-flex;
  margin-left: 3%;
}

.dropdown {
  position: absolute;
  margin-top: 2%;
  padding-left: 25px;
  font-size: large;
  width: 20%;
  height: fit-content;
  cursor: pointer;
}

.dropdown > .dropdownContent {
  padding: 10px;
  border-bottom: 0.2pt solid #E5C3A6;
}

.dropdownContent:hover, .clear-input-button:hover {
  transform: scale(1.2, 1.2);
  font-size: larger;
}

.containerOfInput {
  display: inline-flex;
  margin-left: 38%;
}

.OutlinedInput::placeholder{
   color: #E5C3A6;
   font-size: large;
}
.OutlinedInput{
  background-color: transparent;
  border: none;
  outline: none;
  font-size: xx-large;
  font-weight: bold;
  color: #E5C3A6;
  border-bottom: 3px solid #E5C3A6;
}

[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.clear-input-button {
  background-color: transparent;
  display: none;
  font-weight: bolder;
  border: none;
  outline: none;
  size: 100%;
  color: #E5C3A6;
}

.flip-card {
  position: relative;
  text-align: center;
  width: 500px;
  height: 500px;
  top: 20%;
  right: 35%;
  left: 35%;
  background-color: #E5C3A6;
  color: #4B527E;
}

.flip-card-inner {
  width: 500px;
  height: 500px;
  text-align: center;
  transition: transform 2s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 500px;
  height: 500px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}



