.Spinner {
    display: block;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 16px solid rgba(214, 206, 206, 0.715);
    border-top: 16px solid #2E4374; 
    border-radius: 50%;

    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }