.TabContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tabPanes {
    padding: 10%;
    cursor: pointer;
}

.borderBottomLine {
    padding-top: 5%;
    border-bottom: 3px solid #2E4374;
}

.disableTab {
    opacity: 0.2; /* You can adjust the opacity to make it more or less transparent */
}

.graphContainer {
    position: absolute;
    display: block;
    top: 60%;
    left: 18vh;
    height: fit-content;
    width: 80%;
    background-color: #E5C3A6;
} 
